<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/livre/lister}" method="get">
<p>Titre<input type="text" name="t" th:value="${t}"/>
</p>
<p><input type="submit"  value ="chercher"/>
</p>
</form>
<table class="table">
<tr><th>codeLivre</th><th>titre</th><th>nbPages</th><th>numAut</th><th>codeEd</th></tr>
<tr th:each="a:${livres}">
<td th:text="${a.codeLivre}"/>
<td th:text="${a.titre}"/>
<td th:text="${a.nbPages}"/>
<td th:text="${a.auteur.num}"/>
<td th:text="${a.editeur.codeEditeur}"/>
<td>
<a th:href="@{/livre/supLivre(codeLivre=${a.codeLivre})}" th:text="Supprimer"/>
</td>
<td>
<a th:href="@{/livre/modifLivre(codeLivre=${a.codeLivre})}" th:text="Modifier"/>
</td>
</tr>
</table>
<div  class="container">
<ul class="nav nav-pills">
<li class="nav-item" th:each="pa:${#numbers.sequence(0, nbpages - 1)}" th:class="${pa==pageCourante}?'active':''">
<a class="nav-link" th:href="@{/livre/lister(p=${pa},t=${t})}" th:text=${pa}></a>
</li>
</ul>
</div>
</body>
</html>